<ion-view view-title="{{title}}">
    <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-click="enableEdit()" data-tap-disabled="true">
        <i class="icon ion-edit"></i>
    </button>
</ion-nav-buttons>
     <ion-content class="has-header" overflow-scroll="true" ng-if="registered">
        <div class="card">

            <label class="item item-divider" style="color:black;font-size:16px">
               {{hackTeam.teamName}}
            </label>
            <label class="item item-input">
                <span class="input-label">DDR CellNo</span>
                <input type="number" value={{hackTeam.cellNo}} readonly style="background-color:white">
            </label>

            <label class="item item-input">
                <span class="input-label">DDR CellName</span>
                <input type="text" value={{hackTeam.cellName}} readonly style="background-color:white">
            </label>

            <label class="item item-input">
                <span class="input-label">Team Id</span>
                <input type="text" value={{hackTeam.teamId}} readonly style="background-color:white" >
            </label>

            <label class="item item-input">
                <span class="input-label">Team Size</span>
             <input type="text" value={{hackTeam.size}} readonly style="background-color:white">

            </label>
             <label class="item item-input">
                <span class="input-label">Owner Id</span>
             <input type="text" value={{hackTeam.ownerId}} readonly style="background-color:white">

            </label >
                    
         <label class="item item-divider " style="color:black;font-size:16px">
              Team Members
            </label>
            <div class="list card" ng-repeat="member in hackTeam.members">
               <label class="item item-input">
                <span class="input-label">Tpx Id</span>
             <input type="text" value={{member.tpxid}} readonly style="background-color:white">

            </label>
               <label class="item item-input">
                <span class="input-label">Employee Id</span>
             <input type="text" value={{member.empId}} readonly style="background-color:white">

            </label>
               <label class="item item-input">
                <span class="input-label">Mobile</span>
             <input type="text" value={{member.mobile}} readonly style="background-color:white">

            </label>
        </div>
                </div>

 </ion-content>
<ion-content class="has-header" overflow-scroll="true" ng-if="!registered">

<!--     <ion-item>

 -->    <!--div class="animate-ripple"-->
     	<div class="list card ">

            <label class="item item-divider ">
                <span class="input-label">Hackathon Registration</span>
            </label>
            <label class="item item-input">
                <span class="input-label">DDR CellNo</span>
                <input type="number" ng-model="static_fields.DDR_cell_No" placeholder="" required>
            </label>

            <label class="item item-input">
                <span class="input-label">DDR CellName</span>
                <input type="text" ng-model="static_fields.DDR_cell_Name" placeholder="">
            </label>

            <label class="item item-input">
                <span class="input-label">Team Name</span>
                <input type="text" ng-model="static_fields.Team_Name" placeholder="">
            </label>

            <label class="item item-input">
                <span class="input-label">Team Size</span>
                {{$scope.person_count}}
                <select ng-model="person_count.value" ng-options="option.value as option.display for option in options">
                </select>
            </label>
    	</div>
<!--     </ion-item>
 -->	<div class="list card" ng-repeat="item in jsonObj track by item.count" >
        <ion-list>
        	<label class="item item-divider">
        		<span class="input-label">Participant {{$index+1}}</span>
    		</label>
            
            <label class="item item-input">
                <span class="input-label">TPXiD</span>
                <input type="text" ng-model="item.Tpxid" placeholder="">
            </label>

            <label class="item item-input">
                <span class="input-label">EMPiD</span>
                <input type="number" ng-model="item.Empid" placeholder="">
            </label>

            <label class="item item-input">
                <span class="input-label">Mobile No</span>
                <input type="number" ng-model="item.Mobile_No" placeholder="">
            </label>
        </ion-list>
</div>
 <div class="button button-positive submitbutton" align="center" ng-click="register_submit()">Submit</div>
<!--/div-->
 </ion-content>

  
</ion-view>
