<ion-view view-title="Help & Support">
  <ion-nav-buttons side="left">
       <button class="button button-icon button-clear ion-navicon " menu-toggle="left" style="margin-left:-10px;" id="lhm_button">
        </button>
        <!-- <button menu-close class="button button-icon button-clear" ng-click="goToHomeScreen()" id="back">
            <i class="icon_home ion-home"></i>
        </button> -->
    </ion-nav-buttons>
  <ion-content>
  <h2>Help content </h2>
  <div>
   <!-- <a href="tel:9789690565">Call user</a> -->
   <!-- <button class="button-assertive" ng-click="CallTel(9789690565)">
    call
<button> -->
  </div>
  </ion-content>
</ion-view>
