<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-custom">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="200" style="background-color:#303030">
    <ion-header-bar class="bar bar-custom">
      <h1 class="title" ng-if="username==undefined">TECH APP</h1>
      <h1 class="title" ng-if='username!=null'>{{username}}</h1>
    </ion-header-bar>
    <ion-content >
    <!-- <ion-list> -->
        <ion-item menu-close href="#/menu/login" style='color:#ffffff;font-size:17px'>
          <div class='row row-center'>
          <div class='col col-20'><img src='img/ionic.png' style='width:15px;height:15px'></img></div>
          <div class='col'>Register</div>
          </div>
        </ion-item>

        <ion-item menu-close href="#/menu/hackathon" style='color:#ffffff;font-size:17px'>
        <div class='row row-center'>
          <div class='col col-20'><img src='img/ionic.png' style='width:15px;height:15px'></img></div>
          <div class='col'>Hackathon</div>
        </div>
        </ion-item>

        <ion-item menu-close href="#/" onclick="window.open('https://www.google.co.in/maps/place/Tesco+HSC/@12.9739475,77.7283974,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae0df955555555:0xb402b98f027216a2', '_blank', 'location=yes'); return false;" style='color:#ffffff;font-size:17px'>
        <div class='row row-center'>
          <div class='col col-20'><img src='img/ionic.png' style='width:15px;height:15px'></img></div>
          <div class='col'>Directions</div>
        </div>
        </ion-item>

        <ion-item menu-close href="#/menu/help" style='color:#ffffff;font-size:17px'>
        <div class='row row-center'>
          <div class='col col-20'><img src='img/ionic.png' style='width:15px;height:15px'></img></div>
          <div class='col'>Help</div>
        </div>
        </ion-item>

       <!--  <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
                Open a Google+ Client or Browser
            </a> -->

        <!-- <ion-item menu-close href="#/menu/stalls" style='color:#ffffff;font-size:17px'>
        <div class='row row-center'>
          <div class='col col-20'><img src='img/ionic.png' style='width:15px;height:15px'></img></div>
          <div class='col'>Stalls</div>
        </div>
        </ion-item>

        <ion-item menu-close href="#/menu/agenda" style='color:#ffffff;font-size:17px'>
        <div class='row row-center'>
          <div class='col col-20'><img src='img/ionic.png' style='width:15px;height:15px'></img></div>
          <div class='col'>Agenda</div>
        </div>
        </ion-item> -->
      <!-- </ion-list> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
