<ion-view view-title="Hackathon">
  <ion-content>
<!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/search/login">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->

        <div class="list card" >
  <div class="item" ui-sref="app.hack_register">
  	Register Team
  </div> 
</div>
        
        <div class="list card" >
<div class="item">
  	Notifications
  </div></div>
          
          <div class="list card" >
   <div class="item">
  	Feedback
  </div>


      </div>  </ion-content>
</ion-view>
