<ion-view view-title="Stalls">
 <ion-nav-buttons side="left">
       <button class="button button-icon ion-navicon " menu-toggle="left" style="margin-left:-10px;" id="lhm_button">
        </button>
        <!-- <button menu-close class="button button-icon button-clear" ng-click="goToHomeScreen()" id="back">
            <i class="icon_home ion-home"></i>
        </button> -->
    </ion-nav-buttons>
  <ion-content>
  <div class="list card">

  <div class="item">
    <h2>Stall 1</h2>
    <p>Potter,Harry</p>
  </div>

  <div class="item item-body">
      <p>
      Details about stall 1
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Vote
    </a>
   
  </div>

</div>
  <div class="list card">

  <div class="item">
    <h2>Stall 2</h2>
    <p>Weasley,Ronald</p>
  </div>

  <div class="item item-body">
      <p>
      Details about stall 2
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Vote
    </a>
   
  </div>

</div>

  </ion-content>
</ion-view>
