/* Empty. Add your own CSS if you like */

.submitbutton {
    text-align: center;
    width: 95%;
    margin-top: 8px;
    font-size:14px; 
    margin-left:10px; 
 
}

.icon_home{
    font-size: 24px;
}

.bar.bar-custom {
    border-color: #0c63ee;
    background-color: #2a9fdd;
    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
    color: #fff; 
}